<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CyberSoft Academy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/particles.css">
    <link rel="stylesheet" href="../../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <button id="myBtn" title="Go to top">
        <i class="fa fa-plane"></i>
    </button>
    <!-- BEGIN HEADER -->
    <header id="header">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
                <img src="../../assets/img/logo.png" alt="hinhLogo">
            </a>
            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 " type="text" id="timkhoahoc" placeholder="Tìm khóa học">
                    <button class="btn btn-outline-dark my-2 my-sm-0">Search</button>
                </form>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gioithieu.html">Giới Thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="danhsachkhoahoc" href="danhsachkhoahoc.html">Khóa Học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="lienhe.html">Liên Hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btnLogin" href="#">Đăng Nhập</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!-- END HEADER -->

    <!-- BEGIN SLIDER -->
    <section class="slider" id="pageSlider">
        <div class="over-slider" id="particles-js"></div>
        <div class="slider-caption text-center">
            <h1 class="display-4">Vài Nét Về CYBERSOFT</h1>
            
        </div>
    </section>
    <!-- END SLIDER -->

    <!-- BEGIN MAIN -->
    <main id="mainContent">
        <!-- BEGIN GIOITHIEU -->
        <section id="gioithieu">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 gt_Part1Left">
                        <p class="display-4" id="title-gioithieu">Sứ mệnh của CyberSoft</p>
                        <h4>Đào tạo ra những lập trình viên tài năng, phát huy tố chất, tư duy lập trình, có định hướng
                            để trở thành những lập trình chuyên nghiệp</h4>
                        <div class="content">
                            <i class="fa fa-angle-double-right"></i>
                            <p><i class="fa fa-star"></i> Cung cấp cho các bạn nền tảng cốt lõi, tư duy logic, định
                                hướng nghề nghiệp lập trình, các qui trình, công cụ để xây dựng các dự án trong thực
                                tế.</p>
                            <p><i class="fa fa-star"></i> Truyền đạt các kinh nghiệm "máu lửa" của đội ngũ Giảng viên
                                và các Mentor để các bạn tự tin làm việc tại các dự án của doanh nghiệp.</p>
                            <p><i class="fa fa-star"></i> Bổ sung các kỹ năng mềm, kỹ năng làm việc nhóm, các yếu tố để
                                trở thành một lập trình chuyên nghiệp trong một môi trường chuyên nghiệp.</p>
                        </div>
                        <h4>Gắn kết Doanh nghiệp, cung cấp đội ngũ nhân sự lập trình có chất lượng, chuyên nghiệp</h4>

                        <div class="content">
                            <i class="fa fa-angle-double-right"></i>
                            <p><i class="fa fa-star"></i> Cung cấp cho Doanh nghiệp một nguồn nhân sự chuyên nghiệp,
                                chất lượng, có trách nhiệm.</p>
                            <p><i class="fa fa-star"></i> Tiết kiệm được thời gian đào tạo lại, tiết kiệm được chi phí
                                và nhân sự cho Doanh nghiệp</p>
                            <p><i class="fa fa-star"></i> Thúc đẩy sự phát triển CNTT của nước nhà</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 gt_Part1Right">
                        <div class="gt_Part1RightImg"></div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-12  text-center border border-right-0 border-left-0 border-dark">
                        <div class="gt_Part2">
                            <p class="my-0 display-4">
                                CHÚNG TÔI CÓ HÀNG LOẠT NHỮNG GIÁ TRỊ ĐỂ CHỨNG MINH VỚI BẠN VỀ NĂNG LỰC VƯỢT TRỘI CỦA
                                CHÚNG
                                TÔI ĐỂ BẠN RA QUYẾT ĐỊNH NGAY TẠI SAO CHỌN CHÚNG TÔI CHO NGHỀ NGHIỆP CỦA BẠN.
                            </p>
                            <p class="py-0 my-0 display-4">
                                ĐẦU TIÊN, CHÚNG TÔI LÀ AI ?
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 text-justify gt_Part3Left">
                        <p class="p1">
                            Chúng tôi xuất thân là những sinh viên <span class="s1">xuất sắc top 10 ngành CNTT</span>
                            năm 2007 trường <span class="s1">Đại Học
                                Khoa Học Tự Nhiên HCM - ĐH Quốc Gia HCM</span>. Trước khi bắt đầu xây dựng học viện
                            CyberSoft này,
                            chúng tôi là những nhà phát triển phần mềm và những huấn luyện viên với
                            <span class="s1">
                                hơn 10 năm kinh nghiệm.
                            </span>
                        </p>
                        <p class="p1">
                            Chúng tôi bắt đầu làm việc ngay khi ra trường tại các tập đoàn <span class="s1">gia công
                                phần mềm </span>
                            lớn như Thụy Sỹ, Pháp, Anh,…Chúng tôi từng tham gia là <span class="s1">một kiến trúc sư
                                phần mềm</span> cho công ty Anh
                            văn Hội Việt Mỹ, cũng như đưa ý tưởng giải pháp và triển khai toàn bộ hệ thống giao dịch
                            Sàn chứng khoán HCM, HoSE, tư vấn hệ thống CRM, ERP cho ô tô Trường Hải.
                        </p>
                        <p class="p1">
                            <span class="s1">Từng Startup và từng thất bại</span> với một ý tưởng cực kì hay nhưng vẫn
                            đóng cửa công ty. Tất cả
                            những điều đó đã giúp chúng tôi có được nhiều trải nghiệm và nhiều bài học tuyệt vời để lấy
                            nguồn cảm hứng truyền đạt cho các bạn trong các khóa học.
                        </p>
                        <p class="p1">
                            Chúng tôi biết <span class="s1">điểm mạnh điểm yếu</span>, điều gì làm nên thành công của
                            một người lập trình, điều
                            gì làm nên thành công của một sản phẩm phần mềm.
                        </p>
                        <p class="p1">
                            Thêm nữa, chúng tôi cũng đã <span class="s1">gặp rất nhiều công ty</span> và họ đã nhờ
                            chúng tôi tuyển dụng các lập
                            trình front-end cho họ. Họ rất khó khăn để tìm <span class="s1">người lành nghề</span>,
                            không những vậy, họ cần
                            thêm những yếu tố mind-set lúc làm việc, tuy duy giải quyết vấn đề, tư duy sáng tạo, làm
                            việc nhóm, tư tưởng làm việc trong môi trường toàn cầu.
                        </p>
                        <p class="p1">
                            Tại <span class="s1">CyberSoft Academy</span>, chúng tôi <span class="s1">cam kết</span>
                            mang lại những <span class="s1">giá trị thực tế</span> và tất cả những gì
                            làm nên một lập trình front-end <span class="s1">chuyên nghiệp, tư duy toàn cầu</span> như
                            vậy.
                        </p>
                        <p class="p1">
                            Đội ngũ của chúng tôi, vừa là những người lập trình viên, vừa làm quản lý, cũng là giám đốc
                            cũng vừa là giảng viên các trường ĐH, CĐ tại HCM. Chúng tôi cũng được chọn vào các chương
                            trình <span class="s1">huấn luyện kỹ năng đào tạo nghề tại đại học ARIZONA - ASU - MỸ do
                                tập đoàn INTEL và
                                chính phủ Mỹ tài trợ.</span>
                        </p>
                        <img src="../../../assets/img/bang-min.jpg" alt="bangcap" class="my-4 img-fluid">
                        <p class="p1">
                            Tất cả những kỹ năng, phương pháp giảng dạy tại các khóa huấn luyện này đều được chúng tôi
                            áp dụng vào các khóa học đào tạo nghề thực tế tại CyberSoft Academy.
                        </p>
                    </div>
                    <div class="col-md-4 col-12 gt_Part3Right text-center">
                        <img src="../../../assets/img/thaysong-min.jpg" alt="hinh_Thay_Song" class="img-fluid">
                        <p class="p2">MR LÊ QUANG SONG</p>
                        <p class="p2">GIÁM ĐỐC ĐIỀU HÀNH</p>
                        <p class="p2">THẠC SỸ KHOA HỌC MÁY TÍNH - ĐẠI HỌC KHOA HỌC TỰ NHIÊN - ĐẠI HỌC QUỐC GIA HCM</p>
                        <p class="p2">TOP 10 SINH VIÊN XUẤT SẮC HẠNG ƯU NGÀNH CNTT - ĐẠI HỌC KHOA HỌC TƯ NHIÊN 2007</p>
                    </div>
                </div>
            </div>

        </section>
        <!-- END GIOITHIEU -->

    </main>
    <!-- END MAIN -->

    <!-- BEGIN FOOTER -->
    <footer id="footer" class="pt-5 mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-12 px-4 footer-left">
                    <a href="./index.html">
                        <img src="../../assets/img/cybersoft-logo-min.png" alt="logo-footer">
                    </a>
                    <p>CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active
                        Learning và Flipped
                        Learning thông qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT. Học viên sẽ đóng vai trò là
                        một Scrum member
                        trong mô hình Agile để trở thành một lập trình chuyên nghiệp, đáp ứng mọi nhu cầu tuyển dụng
                        của Doanh nghiệp
                    </p>
                </div>
                <div class="col-md-3 col-12 px-4 footer-mid">
                    <h4>THÔNG TIN</h4>
                    <ul class="thongtin">
                        <li><a href="./index.html">Trang chủ</a></li>
                        <li><a href="./layouts/gioithieu.html">Giới thiệu</a></li>
                        <li><a href="./layouts/danhsachkhoahoc.html">Danh sách khóa học</a></li>
                        <li><a href="./layouts/lienhe.html">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-12 px-4 footer-right">
                    <h4>LIÊN HỆ ĐỂ ĐƯỢC TƯ VẤN</h4>
                    <ul class="thongtin">
                        <li><span>Cơ sở 1 :</span> 459 Sư Vạn Hạnh, Quận 10 - HCM</li>
                        <li><span>Cơ sở 2 :</span> 82 Ung Văn Khiêm, Quận Bình Thạnh (cuối đường D2 - gần ĐH HuTech) -
                            HCM</li>
                        <li>
                            <span>T :</span>
                            +84 961.05.10.14
                        </li>
                        <li>
                            <span>E :</span> info@cybersoft.edu.vn
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- File JS -->
    <script src="../../assets/js/main.js"></script>
</body>

</html>
<!-- BEGIN DANH SÁCH KHÓA HỌC -->